// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet');

// Define fonts for body and headers
$body-font: 'Montserrat', sans-serif;
$headers-font: 'Open Sans', sans-serif;

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Neon";
  src: font-url('NEON____.ttf') format('truetype');
}


