<div class="container">
    <h1><em>All___Cocktails</em></h1>
    <div class="a-new">
      <%= link_to "Add___a___new___cocktail", new_cocktail_path %>
    </div>
    <div class ="cards-cocktails">
      <% @cocktails.each do |cocktail| %>
        <% if cocktail.photo.attached? %>
          <div class ="card" style="background-image:url('<%= cl_image_path cocktail.photo.key,crop: :fill %>')">
           <%# linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  %>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        <% else %>
          <div class ="card" style="background-image: url(https://images.unsplash.com/photo-1546171753-97d7676e4602?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60)">
           <%# linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  %>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div> 
        <% end %>   
      <% end %>
    </div>
</div>
