.card{
  background-size: cover;
  background-position: center;
  object-fit: cover;
  height: 150px;
  // width: 150px;
  font-family: "Neon";
  font-style: italic;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: aqua;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(255,255,255,0.7);
  text-decoration: none;

  a{
    color:aqua;
    font-style: italic;
    text-shadow: 0 0 10px rgba(255,255,255,0.7);
    text-decoration: none;
  }

}

.card-show{
  background-size: cover !important;
  background-position: center !important;
  min-height: 450px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: aqua;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(255,255,255,0.7);
  text-decoration: none;
  margin: 16px;

  a{
    color:aqua;
    font-style: 'open sans serif';
    font-style: italic;
    text-shadow: 0 0 10px rgba(255,255,255,0.7);
    text-decoration: none;
    &:hover {
      color: red;
      text-decoration: none;
    }
  }
  i{
    font-size: 16px;
  }
  
  li {
  list-style: none;
  font-style: 'Montserrat', sans-serif !important;
  }
}



